.text-description-user-dialog{
    font-size: 25px;
    color: black;
    padding: 1vh 0 2vh 1vw;
}

.main-container-log-in{
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.input-log-in-user-dialog{
    width: 15vw;
    height: 2vw;
    padding-left: 1vw;
    font-size: 17px;
    border-radius: 20px;
    margin-left: 1vw;
    border: 1px blue solid;
}

.error-message-user-dialog{
    font-size: 20px;
    color: darkred;
    text-align: center;
    padding: 1.5vh 0 1vh;
}

.text-welcome-user-dialog{
    width: inherit;
    font-weight: bold;
    font-size: 30px;
    height: 5vh;
}

.container-edit-name-user-dialog{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3vh;
    margin-left: 2vw;
    margin-bottom: 2vh;
}

.text-edit-description-user-dialog{
    font-size: 20px;
    width: 5vw;
}

.input-edit-user-dialog{
    width: 10vw;
    border: 1px darkblue solid;
    border-radius: 20px;
    padding: 0.5vh 0 0.5vh 1vw;
    font-size: 17px;
}
