.singleProduct{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    padding: 2vw;
    border-bottom: 1px black solid;
}
.titleTable{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    padding: 4vw;
    font-weight: bold;
    border-bottom:2px black solid;
}
.singleProduct_ean{
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px black solid;
}
.singleProduct_name{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px black solid;
}
.singleProduct_brand{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}