.singleProduct{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    padding: 2vw;
    border-bottom: 1px black solid;
}
.titleTable{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    padding: 2vw;
    font-weight: bold;
    border-bottom:2px black solid;
    border-top:2px black solid;
}
.singleProduct_ean{
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px black solid;
}
.singleProduct_name{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px black solid;
}
.singleProduct_brand{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-textarea-searchBar{
    width: 20vw;
    height: 5vh;
    border-radius: 10px;
    border: 2px blue solid;
    padding-left: 1vw;
    font-size: 20px;
    margin-right: 1vw;
}

.container-searchBar{
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
}

.text-searchBar{
    margin-right: 3vw;
    font-weight: bolder;
    font-size: 25px;
}

.mainPage_noProducts{
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-weight: bold;
    color: #BC3131;
}
